<html ng-app="questionnaireApp">
  <head>
    <meta charset="utf-8">
    <title>Add Questions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="./angular-resource.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
	
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./app.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
	<script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
	
	<script>
      var questionnaireApp = angular.module('questionnaireApp', []);
	  
	 
      questionnaireApp.controller('QuestionCtrller', function($scope, $http) {
        $scope.questionsList = [];

		$scope.addQuestionArea = function(objId) {		
			var tmpAnsList = [];
			tmpAnsList.push({"answerText":''});
			$scope.questionsList.push({"childAnsObjId":'', "parentAnsObjId":objId, "questionIndex": '', "questionText": '', "qType":'', "answers" : tmpAnsList});
		} // end of addQuestionArea()

		$scope.updateAnswerList = function(selectObj, questionObj) {
		    
			if (selectObj == 3 || selectObj == '3') {		
				$.each($scope.questionsList, function(k,v) {
					if (Object.is(v, questionObj)) {
						alert(questionObj);
						if (questionObj.answers.length == 1) {
							questionObj.answers.push({"answerText":''});
							questionObj.answers.push({"answerText":''});
						} 
					}
				});
			} else {
				$.each($scope.questionsList, function(k,v) {				
					if (Object.is(v, questionObj)) {						
						if (questionObj.answers.length > 1) {
							questionObj.answers.pop(); 
							questionObj.answers.pop();
						} 
					}
				});
			}
			
		} // end of updateAnswerList()
 
		$scope.saveQuestions = function() {
			//alert("in save ");
			$http({
				method : "POST",
				url : "/questions",
				data : angular.toJson($scope.questionsList),
				headers : {'Content-Type' : 'application/json'}
			}).then( _success, _error );                
		  }  // end of saveQuestions()
		  
		function _success(response) {
			console.log(response.statusText);
			window.location.href = "/questions.html/";
		}
 
		function _error(response) {
			console.log(response.statusText);
		}
		
		$scope.cancel = function() {
			window.location.href = "/questions.html/";
		}
		} // end of controller function definition
		
	  ); // end of controller definition
	 
    </script>
  </head>
  <body >
	<div class="wrapper">
        <h3 class="page-header">Add Questions</h3>
	<form ng-controller="QuestionCtrller">
		<div id="qnTemplate">			
			<div ng-repeat="question in questionsList track by $index" >
			  	<div class="col-xs-3 padding-l-0">
                    <div class="form-group">
                        <select class="form-control" ng-model="question.qType" ng-change="updateAnswerList(question.qType,question)" onchange="updateAnswerList($event,question)">
							<option value="1">Multiline
							<option value="2">Single Choice
							<option value="3">Multiple Choice
						</select>
                    </div>
                </div>
				
				
				<div class="col-xs-9">
                    <div class="form-group col-xs-12">
						<input type="hidden" ng-model="question.questionIndex" ng-value="{{question.questionIndex}}"/>
						<input type="hidden" ng-model="question.parentAnsObjId" ng-value="{{question.parentAnsObjId}}"/>
						<input class="form-control" type="text" ng-model='question.questionText' size="100" maxlength="500">
					</div>
					<div class="form-group col-xs-12" ng-repeat="answer in question.answers track by $index" ng-init="question.childAnsObjId =$id">
						<input type="hidden" ng-model="question.childAnsObjId" ng-value="question.childAnsObjId" />
						<div ng-if="question.qType==1">
						<textarea class="form-control" ng-model="answer.answerText" rows="5" cols="100" maxlength="500">&nbsp;</textarea>					
						</div>
						
						<div>
						<input class="pull-left form-control" ng-if="question.qType==2" type="text" ng-model="answer.answerText"/>
						<a class="pull-left" ng-if="question.qType==2" ng-click="addQuestionArea(question.childAnsObjId)">Add Subquestion</a>
						</div>
						<div class="checkbox margin-t-0">
							<label>
								<input ng-if="question.qType==3" type="checkbox"/>
								<input ng-if="question.qType==3" type="text" class="form-control" ng-model="answer.answerText"/>
							</label>
						</div>
					</div>
				</div>
			</div>
			  
		  
		  <input class="btn" type="submit" value="Save" ng-click="saveQuestions()">
		  <input class="btn" type="button" value="Cancel" ng-click="cancel()">
		  <input class="btn" type="button" value="Add Question" ng-click="addQuestionArea('')">
		</div>
	</form>
	</div>
	
	<script src="./app.js"></script>

  </body>
</html>